@media screen and (max-width: 800px) {

    body,
    html {
        align-items: center;
        height: auto;
        width: 100%;
        overflow-x: hidden;
    }

    .main {
        background-color: rgb(250, 247, 249);
        border: 0.1vw solid rgb(24, 10, 10);
        border-radius: 3vh;
        height: auto;
        width: auto;
        margin-left: 0.8vmax;
        margin-right: 0.8vmax;
        margin-top: 20vw;
        position: absolute;
    }

    .main2 {
        text-align: center;
        padding-left: 5vw;
        padding-right: 5vw;
    }

    .btn {
        background-color: rgb(19, 8, 6);
        border: none;
        color: white;
        padding: 1vh 1vw;
        font-size: 2vh;
        cursor: pointer;
        border-radius: 1vh;
        margin: 0.2vh;
    }

    #twitter:hover {
        background-color: #2a7be4;
    }

    #instagram:hover {
        background: radial-gradient(at 20% 128%,
                #feda78 20%,
                #e23467 60%,
                #ac2bb3 90%);
    }

    a {
        text-decoration: none;
        color: white;
    }

    #gmail:hover {
        background-color: #f73729;
    }

    #linkin:hover {
        background-color: #0077b5;
    }

    #whatsApp:hover {
        background-color: green;
        transform: scale(1.1);
    }

    #education,
    #hometown {
        color: blue;
        font-size: 15px;
    }

    #pfpic {
        width: 101px;
        height: 101px;
        padding-top: 20px;
    }

    .name {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 3.5vh;
        color: rgba(41, 37, 37, 0.808);
        line-height: 15px;
        margin: 1vh;
    }

    span {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 15px;
        color: rgba(53, 56, 56, 0.767);
    }

    #info {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 14px;
        padding-bottom: 1px;
        color: black;
    }

    footer {
        text-align: center;
        font-family: "Courier New", Courier, monospace;
        font-size: 2.5vh;
    }

    .progress {
        background-color: #ea4335;
        height: 3px;
        animation: load 1s ease-in-out;
        width: 1px;
    }

    @keyframes load {
        0% {
            width: 0px;
        }

        50% {
            width: 50%;
        }

        100% {
            width: 100%;
        }
    }

    .ba-img {
        position: relative;
        /* Set rules to fill background */
        min-height: 100%;
        min-width: 1024px;

        /* Set up proportionate scaling */
        width: 100%;
        height: auto;

        /* Set up positioning */
        position: fixed;
        top: 0;
        left: 0;
        /* Set rules to fill background */
        min-height: 100%;
        min-width: 1024px;
    }
}